<nav class="banner" [class.load]="isLoggedUser">
  
  <div class="banner-izq">
    <button class="menu-btn" (click)="toggleMenu()">☰</button>
  </div>
  
  <div class="banner-cent">
    <img src="logo.png" alt="logo" class="logo">
    <span id="banner-title" class="title">{{ tituloApp }}</span>
  </div>
 
  <div class="banner-der">
    <div class="userlogin-container"  *ngIf="!isLoading">

        @if(isLoggedUser) {
          <span id="usuarioLogeado" class="text-component">{{ userdata?.NOMBRE }}</span>
          <img [src]="userdata?.AVATAR_URL" alt="Avatar" class="avatar">
          <a class="text-component" (click)="deslogearUsuario()">Logout</a>
        } @else {
          <img [src]="'https://cdn-icons-png.freepik.com/512/6596/6596121.png'" alt="Avatar" class="avatar">
          <a class="text-component" routerLink="/usuarios/login" routerLinkActive="active" id="LoginLogout">Login</a>
        }

    </div>
  </div>

</nav>

<div class="navegador" [class.open]="isMenuOpen">

  <button class="menu-btn" (click)="toggleMenu()">☰</button>
  <a class="btn-component" routerLink="/home" routerLinkActive="active">Home</a>
  <!-- <a class="btn-component" routerLink="/resultados" routerLinkActive="active">Resultados</a> -->
  <a class="btn-component" routerLink="/chat" routerLinkActive="active" *ngIf="!isLoading && isLoggedUser">Chat</a>
  <a class="btn-component" routerLink="/encuesta" routerLinkActive="active" *ngIf="!isLoading && isLoggedUser">Encuesta</a>
  <a class="btn-component" routerLink="/quiensoy" routerLinkActive="active">Quien Soy</a>

</div>