.banner {
  height: 10vh;
  width: 100%;
  background-color: var(--color-marcos);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

#banner-title {
  font-size: 30px;
}

.btn-component {
  height: 3vh;
  width: 6vw;
  color: var(--color-textos);
  margin: 0 2vw;
  text-decoration: none;
}

.btn-component:hover {
  background-color: var(--color-fondos);
}


// TEST ZONE
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222; /* fondo oscuro estilo minijuegos */
  color: #fff;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

.menu-btn {
  font-size: 22px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar-center {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.usuarioLogeado {
  font-weight: 500;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.logout-btn:hover {
  background: #c62828;
}
//TEST ZONE


// NAVEGADOR
.navegador {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #333;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
}

.navegador.open {
  left: 0;
}

.navegador a {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  cursor: pointer;
}