.banner {
  height: 10vh;
  width: 100%;
  background-color: var(--color-marcos);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

#banner-title {
  font-size: 30px;
}

.btn-component {
  height: 3vh;
  width: 6vw;
  color: var(--color-textos);
  margin: 0 2vw;
  text-decoration: none;
}

.btn-component:hover {
  background-color: var(--color-fondos);
}