<app-menu (usuarioLogeo)="onUsuarioLogeado($event)"></app-menu>

<div id="container">
	<h1 class="title">Bomba Oculta 💣</h1>
	
	@if(!comenzar) {
		<div id="reglas-container">
			<p class="text">
				Reglas<br><br>
				Hay 16 puertas. Detrás de una se esconde una bomba.<br>
				Cada puerta segura vale <b>10 puntos</b>.<br>
				Si encontrás la bomba… ¡perdés!
			</p>
		</div>

		<img id="startImg" src="/start.png" alt="Iniciar juego" (click)="nuevoJuego()">
	}
	@else {
		<div id="juego-container">
			
			<div id="botones-container">
				<div class="grid">
					@for (puerta of puertas; track puerta.id) {
						<button 
							class="puerta" 
							[class.disabled]="puerta.abierta" 
							[disabled]="puerta.abierta || juegoTerminado"
							(click)="abrirPuerta(puerta)">
							{{ puerta.abierta ? (puerta.bomba ? "💥" : "") : "🚪" }}
						</button>
					}
				</div>
			</div>

			<div id="puntaje-container">
				<p class="text texto-juego">Puntos: {{puntaje}}</p>
				@if (juegoTerminado) {
					<p class="mensaje">{{ mensajeFinal }}</p>
					<button class="boton" (click)="nuevoJuego()">Reiniciar 🔄</button>
				}
			</div>

		</div>			
	}
</div>
