#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 5vh auto;
}

#reglas-container {
  width: 50vw;
  margin: 0 auto;
}

#reglas-container p {
  margin-top: 0;
  text-align: center;
}

#startImg {
  height: 20vh;
  width: 32vh;
  margin: 0 auto;
  transition: transform 0.2s ease-in-out;
}
#startImg:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#juego-container {
  background-position: center;
  background-repeat: no-repeat;
  width: 50vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#botones-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}

.puerta {
  height: 9vh;
  width: 9vh;
  font-size: 2rem;
  border: 2px solid var(--color-marcos);
  border-radius: 8px;
  background-color: #f5f5f5;
  color: var(--color-textos);
  cursor: pointer;
  transition: background 0.2s;
}

.puerta:hover:not(.disabled):not(:disabled) {
  background-color: #e1e1e1;
}

.puerta.disabled {
  background-color: #ccc;
  cursor: default;
}

#puntaje-container {
  margin-bottom: 2rem;
  text-align: center;
}

.mensaje {
  font-weight: bold;
  color: crimson;
  margin-top: 1rem;
}

.boton {
  height: 4vh;
  width: 8vw;
  background-color: var(--color-marcos);
  color: var(--color-textos);
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
