#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 5vh auto;
}

#reglas-container {
  width: 50vw;
  margin: 0 auto;
}

#reglas-container p {
  margin-top: 0;
  text-align: center;
}

#juego-container {
	background-position: center;
	background-repeat: no-repeat;
  width: 50vw;
  height: 65vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

#ahorcado-container {
  // height: 60vh;
  // background-image: url('/ahorcado/fondo.png');
  // image-resolution: 100%;
  // background-position: center;
  // border: 3px solid var(--color-textos);
  // border-radius: 20px;
  // box-shadow: 3px 3px 10px -3px grey;
  // padding: 1vw;

  // display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  // align-items: center;

  height: 60vh;
  background-image: url('/ahorcado/fondo.png');

  background-repeat: no-repeat;   /* Que no se repita */
  background-position: center;    /* Que quede centrado */
  background-size: 40%;           /* Escala para cubrir todo el contenedor */
  background-attachment: fixed;   /* El fondo no se mueve al cambiar resolución */

  border: 3px solid var(--color-textos);
  border-radius: 20px;
  box-shadow: 3px 3px 10px -3px grey;
  padding: 1vw;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  aspect-ratio: 16 / 9;   /* usa la relación real de tu imagen */

}



#palabra-container {
  width: 90%;
  margin: 1rem 0;
  font-size: 1.5rem;

  .letter {
    display: inline-block;
    width: 20px;
    text-align: center;
  }
}


#teclado-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 1rem, auto;
  gap: 0.3rem;

  button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #eee;
    font-weight: bold;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}

