// * {
// 	box-sizing: border-box;
// }
// %shadow {
//   box-shadow: 2px 2px 5px rgba(0,0,0,.5);
// }
// $myfont: 'Bitter', serif;
// $light-green: #b3e5dc;

// #container{
// 	background-image: url('https://images6.alphacoders.com/332/thumb-1920-332872.png');
// 	background-position: center;
// 	background-repeat: no-repeat;
// }

// .juego-container {
//   max-width: 700px;
// 	width: 90%;
//   margin: 15px auto;
//   display: flex;
//   flex-direction: column;
// 	text-align: center;
// 	justify-content: center;
//   &-letters {
//     text-align: center;
//     margin: 30px auto;
//     div {
//       background: white;
//       @extend %shadow;
//       display: inline-block;
// 			padding: 8px 16px 10px;
// 			margin: 3px;
//       font-weight: bold;
//       font-size: 26px;
//       cursor: pointer;
//       position: relative;
// 			transition: .2s;
// 			border-radius: 3px;
//       &:hover {
//         background: #ddd;
//       }
//     }
//     .disabled {
//       color: #888;
//       background: #ccc;
//       cursor: default;
//       pointer-events: none;
//        &:before {
//         content: "\002716";
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         font-weight: normal;
//         font-size: 32px;
//         color: #992020;
//       }
//       &.correct {
//         background: $light-green;
//         &:before {
//           color: #298772;
//           content: '\002714';
//         }
//       }
//     }
// 		@media(max-width: 640px) {
// 			div {
// 				padding: 6px 12px 8px;
// 				font-size: 18px;
// 			}
// 			.disabled:before {
// 				font-size: 26px;
// 			}
// 		}
//   }
//   &-puzzle {
//     text-align: center;
//     display: flex;
//     justify-content: center;
// 		flex-wrap: wrap;
//     &-letters {
//       display: inline-block;
// 			padding: 8px 16px 10px;
// 			margin: 4px;
//       border-bottom: 2px solid black;
//       height: 50px;
//       text-align: center;
//       font-weight: bold;
//       font-size: 30px;
//       width: 30px;
//       flex: 1 auto;
// 			padding-bottom: 3px;
// 			&.space {
// 				border: 0;
// 			}
// 			&.game-lost {
// 				color: darken($light-green, 50%);
// 			}
// 			@media(max-width: 640px) {
// 				font-size: 24px;
// 				width: 20px;
// 				height: 36px;
// 				padding: 6px 0 8px;
// 			}
//     }
//   }
// 	&-results {
// 		text-align: center;
// 		position: relative;
// 		.game-over {
// 			position: absolute;
// 			top: 50%; left: 50%; transform: translate(-50%, -50%);
// 			padding: 60px 20px;
// 			width: 100%;
// 			max-width: 400px;
// 			background: rgba($light-green, .95);
// 			@extend %shadow;
			
// 			p {
// 				font-size: 32px;
// 				font-weight: bold;
// 			}
// 			button {
// 				background: darken($light-green, 30%);
// 				color: white;
// 				padding: 20px 30px;
// 				font-size: 32px;
// 				font-family: $myfont;
// 				border: 0;
// 				@extend %shadow;
// 				cursor: pointer;
// 				transition: .2s;
// 				&:hover {
// 					background: darken($light-green, 15%);
// 				}
// 				&:focus {
// 					outline: 0;
// 				}
// 			}
// 			@media(max-width: 640px) {
// 				padding: 30px;
// 				p {
// 					margin-top: 0;
// 				}
// 				button {
// 					padding: 10px 20px;
// 					font-size: 26px;
// 				}
// 			}
// 		}
// 	}
// 	&-hangman {
// 		max-width: 400px;
// 		margin: 0 auto;
// 		@media(max-width: 640px) {
// 			padding: 0 50px;
// 		}
// 	}
// 	&-svg {
// 		width: 100%;
// 		height: auto;
// 	}
// 	@media(max-width: 640px) {
// 		width: 95%;
// 	}
// }

#juego-container {
  background-image: url('/fondoAhorcado.png');
	background-position: center;
	background-repeat: no-repeat;
  max-height: auto;
}

#grafico-container {
  max-height: 80%;
  width: auto;
  margin: 0 auto;
}

#dubijo {
  max-height: 800px;
}

#palabra-container {
  width: 90%;
}

#teclado-container {
  display: flex;
  flex-wrap: wrap;
  // max-width: 400px;
  width: 90%;
  margin: 1rem, auto;
  gap: 0.3rem;

  button {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #eee;
    font-weight: bold;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}

#palabra-container {
  margin: 1rem 0;
  font-size: 1.5rem;

  .letter {
    display: inline-block;
    width: 20px;
    text-align: center;
  }
}
