#main-container {
  display: flex;
  flex-direction: row;
}

#registro-container {
  width: 50vw;
  border: 3px solid white;
  border-radius: 20px;
  background-color: rgba(96, 150, 186, 0.8);
  box-shadow: 3px 3px 10px -3px grey;
  margin: 2vh auto;
  padding: 1vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#registro-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 1vw;
}

#registro-title {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  color: var(--color-textos);
}

#form-credenciales > div {
  width: 100%;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 20px;
  text-align: center;
}

.form-component {
  margin: 0.5rem auto;
  width: 100%;
  max-width: 100%;
}

.form-input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  text-align: center;
}

#botonera {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
}

.form-btn {
  width: auto;
  height: 4vh;
  width: 8vw;
  margin: 10px auto;
  background-color: var(--color-fondos);
  color: var(--color-textos);
}

a.text {
  font-size: 21px;
  color: var(--color-fondos);
  position: relative;
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

#img-container {
  margin: 1vw;;
  width: 20vw;
  height: 60vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  animation: slider 20s infinite ease-in-out;
}

@keyframes slider {
  0% {
    background-image: url("https://img1.wallspic.com/previews/5/6/1/0/6/160165/160165-among_us-among_us_character_colors-character-colorfulness-azure-360x780.jpg");
  }
  20% {
    background-image: url("https://img2.wallspic.com/previews/6/5/9/0/8/180956/180956-assassin_creed-assassins_creed_valhalla-assassins_creed_odyssey-assassins_creed_iii-assassins_creed_shadows-360x780.jpg");
  }
  40% {
    background-image: url("https://img1.wallspic.com/previews/3/4/7/4/6/164743/164743-race_car-dallara_stradale-sports_car-cars-auto_racing-360x780.jpg");
  }
  60% {
    background-image: url("https://img2.wallspic.com/previews/8/8/1/6/6/166188/166188-minecraft_dungeons_creeping_winter-360x780.jpg");
  }
  80% {
    background-image: url("https://img3.wallspic.com/previews/7/5/8/4/6/164857/164857-ballistic_vest-helmet-cloud-military_person-military_uniform-360x780.jpg");
  }
  100% {
    background-image: url("https://img1.wallspic.com/previews/5/6/1/0/6/160165/160165-among_us-among_us_character_colors-character-colorfulness-azure-360x780.jpg");
  }
} 


@media (max-width: 1025px) {

  #registro-container {
    width: 90vw;
  }

  #registro-form {
    width: 90%;
  }

  #img-container {
    display: none;
  }
}



/* TEST ZONE */

#avatar-label {
  display: inline-block;
  padding: 5px 20px;
  background-color: var(--color-textos); // azul o el color de tu tema
  color: var(--color-fondos);
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s ease;

  &:hover {
    size: 102%;
  }
}

.avatar-label:active {
  background-color: var(--color-contrastes);
}