#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin: 5vh auto;
}

#reglas-container {
  width: 50vw;
  margin: 0 auto;
}

#reglas-container p {
  margin-top: 0;
  text-align: center;
}

#startImg {
  height: 20vh;
  width: 32vh;
  margin: 0 auto;
}
#startImg:hover {
  cursor: pointer;
}

#juego-container {
	background-position: center;
	background-repeat: no-repeat;
  width: 50vw;
  height: 80vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

#cartas-container {
  height: 60vh;
  background-image: url('/mayormenor/panio.jpg');
  border: 3px solid var(--color-textos);
  border-radius: 20px;
  box-shadow: 3px 3px 10px -3px grey;
  padding: 1vw;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.carta-img-wrapper {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#carta-vieja {
  height: 24vh;
}

#carta-nueva {
  height: 30vh;
  width: 22%;
}

#carta-proxima {
  height: 24vh;
}

.carta-img-wrapper img.carta {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#botones-container {
  margin: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.boton {
  height: 6vh;
  width: 30vw;
  background-color: var(--color-marcos);
  color: var(--color-textos);

  border: 2px solid var(--color-textos);
  border-radius: 10px;
  box-shadow: 2px 2px 5px -2px grey;
  font-size: 1.2rem;
  font-weight: bold;

  margin: 0 3vh;

  transition: background-color 0.3s ease;

  &:hover {
    cursor: pointer;
    background-color: var(--color-contrastes);
  }
}

.correcto {
  background-color: var(--color-validacion) !important;
  color: var(--color-textos);
}

.incorrecto {
  background-color: var(--color-incorreccion) !important;
  color: var(--color-textos);
}

.boton:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

#puntaje-container {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 1rem auto;
}

.texto-juego {
  font-size: 1.5rem;
}