#login-container {
    width: 70vw;
    max-height: 90vh;
    border: 0.1px solid white;

    border-radius: 20px;
    background-color: rgba(96, 150, 186, 0.8);
    padding-bottom: 25px;
    box-shadow: 3px 3px 10px -3px grey;
    
    margin: 2vh auto;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-title {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: var(--color-textos);
}

.form-component {
    margin: 1rem auto;
    max-width: 70%;
}

.form-text {
    font-size: 18px;
    color:  black;
}

#login-form > input {
    height: 25px;
    width: 300px;
    border-radius: 20px;
    margin-top: 0px;
    text-align: center;
}

#login-form #login-btn {
    height: 35px;
}