#main-container {
  display: flex;
  flex-direction: row;
}

#login-container {
  width: 50vw;
  border: 3px solid white;
  border-radius: 20px;
  background-color: rgba(96, 150, 186, 0.8);
  box-shadow: 3px 3px 10px -3px grey;
  margin: 2vh auto;
  padding: 1vw;

  display: flex;
  justify-content: center;
  align-items: center;
}   

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 1vw;
}

#login-title {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  color: var(--color-textos);
}

#form-credenciales > div {
  width: 100%;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 20px;
  text-align: center;
}

.form-component {
  margin: 1rem auto;
  width: 100%;
  max-width: 100%;
}

.form-input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  text-align: center;
}

#botonera {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: space-evenly;
}

.form-btn {
  width: auto;
  height: 4vh;
  width: 8vw;
  margin: 10px auto;
  background-color: var(--color-fondos);
  color: var(--color-textos);
}

a.text {
  font-size: 21px;
  color: var(--color-fondos);
  position: relative;
  z-index: 10;
  pointer-events: auto;
  cursor: pointer;
}

#img-container {
  margin: 1vw;;
  width: 20vw;
  height: 60vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  animation: slider 20s infinite ease-in-out;
}

@keyframes slider {
  0% {
    background-image: url("https://wallpapers.com/images/high/iphone-gaming-bmo-adventure-time-y426bshoqsh5rafx.webp");
  }
  20% {
    background-image: url("https://wallpapers.com/images/high/iphone-gaming-ps4-chalk-buttons-kufzi5zxul6hjm9d.webp");
  }
  40% {
    background-image: url("https://wallpapers.com/images/high/iphone-gaming-minecraft-trees-mzuppfvbsnrkbh6m.webp");
  }
  60% {
    background-image: url("https://wallpapers.com/images/high/rainbow-six-siege-buck-iphone-2zgxejz8ag8noyzf.webp");
  }
  80% {
    background-image: url("https://wallpapers.com/images/high/iphone-gaming-pokemon-watercolor-characters-pge59fyoqi3llrcw.webp");
  }
  100% {
    background-image: url("https://wallpapers.com/images/high/iphone-gaming-bmo-adventure-time-y426bshoqsh5rafx.webp");
  }
} 


@media (max-width: 1025px) {

  #login-container {
    width: 90vw;
  }

  #login-form {
    width: 90%;
  }

  #img-container {
    display: none;
  }
}